@font-face {
  font-family: AzeretMono-Regular;
  font-weight: normal;
  font-style: normal;
  src: url("..//fonts/AzeretMono-Regular.woff") format("woff"), url("..//fonts/AzeretMono-Regular.woff2") format("woff2");
}
.hidden {
  display: none;
}

body {
  font-family: "AzeretMono-Regular";
}

body {
  background-color: #000000;
}

model-viewer {
  width: auto;
  max-width: 1200px;
  height: 700px;
  background-color: #efefef;
  margin: 0 auto;
}

.Hotspot {
  background: url(../images/hotspot_airpods.svg) center no-repeat;
  border: 0px;
  width: 45px;
  height: 38px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  text-align: left;
}

.HotspotAnnotation p {
  color: #333;
  line-height: 22px;
  font-weight: 300;
}

.HotspotAnnotation h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.HotspotAnnotation img {
  width: 170px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

model-viewer::part(default-progress-bar) {
  height: 30px;
  background-color: #E89B36;
}

/* AR Rules */
#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.flex-cont-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: end;
  justify-content: end;
}

.flex-header {
  padding: 2px;
  text-align: center;
  margin-right: 10px;
}

/* ---Header--- */
header {
  font-size: 1em;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: white;
}

.items {
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
}

.items:hover {
  color: white;
  border-color: #272eb3;
}

.ul-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 30px 0px 20px 0px;
}

.ul-navigation-tablet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 30px 0px 20px 0px;
  padding: 0;
}

.ul-navigation-tablet a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1);
  color: #ffffff;
}

.ul-navigation a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.animation li {
  display: inline-block;
  position: relative;
  margin-right: 40px;
  border: 1px solid #272eb3;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
}

.animation li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 25px;
  transform-origin: bottom right;
  z-index: -1;
}

.animation li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #272eb3;
  color: #ffffff;
}

.animation-tablet li {
  display: inline-block;
  position: relative;
  border: 1px solid #272eb3;
  padding: 10px;
  border-radius: 25px;
  background-color: transparent;
}

.animation-tablet li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 25px;
  transform-origin: bottom right;
  z-index: -1;
}

.animation-tablet li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #272eb3;
  color: #ffffff;
}

/* ---Mobile Menu--- */
.hamburger {
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
  z-index: 100;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
  z-index: 100;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0%;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #006eff;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
  top: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  color: #ffffff;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #000000;
}

.social-media-style {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 150px;
}

.copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  background-color: #272eb3;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: lighter;
}

.hero-img > * {
  grid-column: 1;
  grid-row: 1;
}

.hero-img {
  display: grid;
  grid-column: span 2;
  position: relative;
}

.skeleton-title {
  text-align: center;
  font-size: 3.125em;
}

.hero-img-2 > * {
  grid-column: 1;
  grid-row: 1;
}

.hero-img-2 {
  display: grid;
  grid-column: span 2;
  position: relative;
}

.viewer-title {
  text-align: center;
  font-size: 3.125rem;
  color: #ffffff;
}

.prom-video {
  margin: 8% 0 8% 0;
}

.video-s {
  padding: 56.25% 0 0 0;
  position: relative;
}

.video-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */