.prom-video {
    margin: 8% 0 8% 0;
}


.video-s {
    padding: 56.25% 0 0 0;
    position: relative;
}

.hero-text-overview {
    color: #fff;
    text-transform: uppercase;
    margin: 30px;
    padding: 80px 0 80px 0;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}