#x-ray-sec {
    padding: 5px 5px 5px 5px;
}
#outerShell {
    display: none;
}

@media screen and (min-width: 1200px) {

    #mobile-tablet-view {
        display: none;
    }
    #outerShell {
        display: block;
        border: solid 1px #272eb3;
    }
    
    #imageCon {
        position: relative;
        height: 800px;
    }
    
    .slideImage {
        position: absolute;/*images are stacked in order via absolute*/
        left: 0;
        right: 0;
        height: 800px;
    }
    
    .image-right {
        background: url(../images/xray_view.jpg) no-repeat;
        background-size: cover;
        // background-position: center center;
        // background-attachment: fixed;
    }
    
    .image-left {
        background: url(../images/default_view.jpg) no-repeat;
        width: 50%; /*start the image at the halfway point*/
        background-size: cover;
        // background-position: center center;
        // background-attachment: fixed;
    }
    
    .image-drag {
        background-color: #272eb3;
        left: 50%;
        width: 4px;
        cursor: pointer;
    }
}

