.hero-img>* {
    grid-column: 1;
    grid-row: 1;
}
.hero-img {
    display: grid;
    grid-column: span 2;
    position: relative;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skeleton-title {
    text-align: center;
    font-size: 3.125em;
}

.viewer-title {
    text-align: center;
    font-size: 3.125rem;
    color: #ffffff;
}


.prom-video {
    margin: 8% 0 8% 0;
}


.video-s {
    padding: 56.25% 0 0 0;
    position: relative;
}

.video-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}